.home-page
    height: 100%
    .post-container
        max-height: 100%
        padding: 0px 8px 0px
        overflow-y: hidden
        justify-content: space-between
        align-content: baseline
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        +rmin(900)
            padding: 0px 50px
        .arrows
            position: absolute
            height: 100%
            left: 0
            top: 0
            width: 100%
            .img
                left: 0
                position: absolute
                transform: translateY(-50%)
                cursor: pointer
                top: 50%
                &.post-slider-next
                    right: 0
                    left: auto
                    transform: translateY(-50%) rotate(180deg)
        .slider-post
            width: 100%
        .slide
            padding: 0px 10px
        .item
            background: radial-gradient(50% 743.88% at 50% 50%, #4D4D4D 0%, #000000 100%)
            padding: 5px 6px
            width: 100%
            display: flex
            height: fit-content
            flex-direction: column
            justify-content: space-between
            border-radius: 15px
            margin-bottom: 10px
            +rmin(900)
                padding: 10px 15px
            .item-header
                display: flex
                align-items: center
                .img
                    width: 60px
                    min-width: 60px
                    height: 60px
                    margin-right: 5px
                    border-radius: 100%
                .user-name
                    font-weight: 500
                    text-align: center
            .text
                font-weight: 500
                text-align: center
                margin: 10px 0 7px
                +hmax(720)
                    margin: 5px 0px 4px
            .item-footer
                opacity: 0.7
                font-size: 22px
                text-align: center
                white-space: nowrap
                +rmin(900)
                    margin-bottom: 5px
                +hmax(720)
                    font-size: 18px
    .slider-container
        position: relative
        .arrows
            position: absolute
            height: 100%
            left: 0
            top: 0
            width: 100%
            .img
                left: 0
                position: absolute
                transform: translateY(-50%)
                cursor: pointer
                top: 50%
                &.right
                    right: 0
                    left: auto
                    transform: translateY(-50%) rotate(180deg)
        +rmin(900)
            padding: 0px 50px
    .slider
        display: flex
        justify-content: center
        margin: 5px 0
        +rmin(900)
           margin: 25px 0px 30px

        .slide
            .item
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                .img
                    width: 75px
                    height: 75px
                    border-radius: 100%
                    +rmin(900)
                        width: 90px
                        height: 90px
                .title
                    text-align: center
                    font-weight: 500