.mobile-menu-container
    display: flex
    flex-direction: column
    justify-content: center
    padding: 15px 5px 5px
    +rmin(900)
        padding: 30px 5px 5px
    .menu-mobile
        background-color: transparent
        padding: 5px 0px
        +center
        justify-content: center
        +rmin(900)
            display: none
        .item
            margin: 0px 10px
            .img
                filter: grayscale(100%)
                opacity: 0.35
                width: 70px
                height: 70px
                &.active
                    filter: grayscale(0%)
                    opacity: 1
